<p id="notice"><%= notice %></p>

<p>
  <b>Loop:</b>
  <%= @train.loop_id %>
</p>

<p>
  <b>Train category:</b>
  <%= @train.train_category %>
</p>

<p>
  <b>Operates day 1:</b>
  <%= @train.operates_day_1 %>
</p>

<p>
  <b>Operates day 2:</b>
  <%= @train.operates_day_2 %>
</p>

<p>
  <b>Operates day 3:</b>
  <%= @train.operates_day_3 %>
</p>

<p>
  <b>Operates day 4:</b>
  <%= @train.operates_day_4 %>
</p>

<p>
  <b>Operates day 5:</b>
  <%= @train.operates_day_5 %>
</p>

<p>
  <b>Operates day 6:</b>
  <%= @train.operates_day_6 %>
</p>

<p>
  <b>Operates day 7:</b>
  <%= @train.operates_day_7 %>
</p>

<p>
  <b>Operates day 8:</b>
  <%= @train.operates_day_8 %>
</p>

<p>
  <b>Operates day 9:</b>
  <%= @train.operates_day_9 %>
</p>

<p>
  <b>Operates day 10:</b>
  <%= @train.operates_day_10 %>
</p>

<p>
  <b>Operates day 11:</b>
  <%= @train.operates_day_11 %>
</p>

<p>
  <b>Operates day 12:</b>
  <%= @train.operates_day_12 %>
</p>

<p>
  <b>Operates day 13:</b>
  <%= @train.operates_day_13 %>
</p>

<p>
  <b>Operates day 14:</b>
  <%= @train.operates_day_14 %>
</p>


<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
