<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/header' %>
</head>
<body>
  <div class="emrmenu">
    <%= render 'layouts/menu' %>
  </div>
  <div class="emrcontainer">
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
