<h1>Itinerary Finder</h1>
<%= form_tag("/calculate", method: "get") do %>
<table class="myItineraryTable">
  <tr>
    <th class="myHeading">Starting station</th>
    <td><%= collection_select(:start_station, :station_num, TrainRoute.all(:order => "station_num ASC", :group => 'station_num'), :station_num, :station_num, :prompt => "Select origin") %></td>
  </tr>
  <tr>
    <th class="myHeading">Ending station</th>
    <td><%= collection_select(:end_station, :station_num, TrainRoute.all(:order => "station_num ASC", :group => 'station_num'), :station_num, :station_num, :prompt => "Select destination") %></td>
  </tr>
  <tr>
    <th class="myHeading">Arrival time</th>
    <td><%= text_field_tag(:reach_by) %></td>
  </tr>
</table>
<%= submit_tag("Find itinerary") %>
<% end %>

