<h1>Itinerary</h1>

<%= "No itinerary available for specified source, destination and departure time" if @itinerary_path.empty? %>

<% unless @itinerary_path.empty? %>
<table border="1">
  <tr>
    <th>Arc Type</th>
    <th>From Station Num</th>
    <th>To Station Num</th>
    <th>Depart Time</th>
    <th>Arrive Time</th>
    <th>Transit Time</th>
    <th>Dwell Time</th>
  </tr>
 
  <% @itinerary_path.each do |t| %>
    
  <tr>
    <td><%= t.arc_type %></td>
    <td><%= t.from_station_num %></td>
    <td><%= t.to_station_num %></td>
    <td><%= t.depart_time %></td>
    <td><%= t.depart_time + t.transit_time  %></td>
    <td><%= t.transit_time %></td>
    <td><%= t.arc_type %></td>
  </tr>
  <% end %>
</table>
<% end %>
