<p id="notice"><%= notice %></p>

<p>
  <b>Station num:</b>
  <%= @node.station_num %>
</p>

<p>
  <b>Event time:</b>
  <%= @node.event_time %>
</p>


<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
