<p id="notice"><%= notice %></p>

<p>
  <b>Train:</b>
  <%= @train_route.train_id %>
</p>

<p>
  <b>Route point seq:</b>
  <%= @train_route.route_point_seq %>
</p>

<p>
  <b>Station num:</b>
  <%= @train_route.station_num %>
</p>

<p>
  <b>Station name:</b>
  <%= @train_route.station_name %>
</p>

<p>
  <b>Arrive time hhhmm:</b>
  <%= @train_route.arrive_time_hhhmm %>
</p>

<p>
  <b>Depart time hhhmm:</b>
  <%= @train_route.depart_time_hhhmm %>
</p>


<%= link_to 'Edit', edit_train_route_path(@train_route) %> |
<%= link_to 'Back', train_routes_path %>
