<%= form_for(@arc) do |f| %>
  <% if @arc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@arc.errors.count, "error") %> prohibited this arc from being saved:</h2>

      <ul>
      <% @arc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :arc_type %><br />
    <%= f.text_field :arc_type %>
  </div>
  <div class="field">
    <%= f.label :from_node_id %><br />
    <%= f.number_field :from_node_id %>
  </div>
  <div class="field">
    <%= f.label :to_node_id %><br />
    <%= f.number_field :to_node_id %>
  </div>
  <div class="field">
    <%= f.label :transit_time %><br />
    <%= f.number_field :transit_time %>
  </div>
  <div class="field">
    <%= f.label :train_id %><br />
    <%= f.number_field :train_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
